.case-list-item {
	color: var(--black);

	& > .title {
		font-family: 'Asap', sans-serif;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	& > .duration {
		font-size: 18px;
		font-family: 'Puritan', sans-serif;
		margin-bottom: 10px;
	}

	& > .content {
		font-size: 14px;
		font-weight: 300;
	}
}
